.container {
    display: flex;
    flex: 1;
    padding: 1rem;
    justify-content: space-between;
    border: 1px solid #e0e0e0;
    margin-bottom: 1rem;
    border-radius: 5px;
    -webkit-box-shadow: 0.5px 0px 22px 0.5px rgba(0,0,0,0.2); 
    box-shadow: 0.5px 0px 2px 0.5px rgba(0,0,0,0.2);
    font-size: 15px;
}

.row {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.row:nth-child(2)  {
    text-align: right;
}

.row > div:first-child  {
    font-weight: 600;
    color : var(--theme-page-text-first);
}

.row > div:nth-child(2)  {
    color : var(--theme-page-text-second);
}