.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  width: 100%;
}

.main form{
  display: flex;
  font-family: "Arial", Helvetica, sans-serif;
  width: 100%;
}

.main input {
  padding: 0.5rem 1rem;
  border-color: #ededed;
  border-style: solid;
  width: 100%;
  border-radius: 3px;
  border-width: 1px;
}

.main input:focus-visible {
  outline: inherit;
}

.main section {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: stretch;
  margin-top: 1rem;
}